name: Build APK Koperasi KSMI

on: 
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.35.7'
        
    - name: Clean project
      run: flutter clean
      
    - name: Install dependencies
      run: flutter pub get
      
    - name: Generate app icons
      run: flutter pub run flutter_launcher_icons
      
    - name: Build APK Release
      run: flutter build apk --release
      
    - name: Upload APK Debug
      uses: actions/upload-artifact@v4
      with:
        name: koperasi-ksmi-debug
        path: build/app/outputs/flutter-apk/app-debug.apk